@charset "utf-8";

 /* use min-width to define styles that apply for screen widths greater than given width */
 @media screen and (min-width: 660px) {
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
 }
 /* use max-width to define styles that apply for screen widths lower than given width */
 @media screen and (max-width: 660px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
 }
 
header {
	background-color: #fff;
	padding: 10px;
	width: 930px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
footer {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	float: left;
	
}
#page-content {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	border-top: 8px solid #000000;
}
nav {
	width: 100PX;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: right;
	margin-top: 10px;
	text-align: right;
}

/*dropdown menu from an image - index*/

.dropdown_menu {
    position: relative;
}


.dropdown-button:hover + .dropdown-content,
.dropdown-button:focus + .dropdown-content,
.dropdown-content:hover {
	display: block;
	opacity: 0.8;
	transform: scale(0.9);
	transition: all 0.6s ease;
	background-color: #729305;
}

.dropdown-content a {
	color: black;
	padding: 10px 16px;
	text-decoration: none;
	display: block;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
}

.dropdown-content a:hover {
    background-color: #9fdfd0;
}

#main-copy {
	width: 500px;
	min-height: 200px;
	margin-right: 50px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	float: left;
	background-color: #729305;
}
#sidebar {
	width: 290px;
	float: right;
	background-image: url("../gallery/menu_bg.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	min-height: 200px;
	color: #729305;
}
body {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	background-image: url("../gallery/bg_image.png");
	background-size: cover;
	background-attachment: fixed;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

h1 {
	margin-top: 0px;
	color: #54210F;
	font-size: 30px;
}
h2 {
	margin-top: 30px;
	margin-bottom: 5px;
	color: #54210F;
	font-size: 24px;
}
h3 {
	margin-top: 0px;
	margin-bottom: 15px;
	font-style: italic;
	font-weight: 400;
}
p {
	margin-top: 0px;
	margin-bottom: 10px;
}
a {
	color: #184F26;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #E98600;
}
figure {
	width: 300px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: right;
}
#sidebar p {
	text-align: center;
	padding-bottom: 5px;
}
#sidebar h2 {
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	border-bottom: thin solid #54210F;
}
nav p {
	margin-top: 15px;
	font-size: 18px;
}


/*Button in the Index Page for Google*/
button{
	
	background-color: #4CAF50; 
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 8px;
	margin-bottom:4px;
	margin-top: 4px;
}

/* Hover effect for Buttons */
button:hover {
	opacity: 0.8;
	transform: scale(0.9);
	transition: all 0.6s ease;
	background-color: #729305;
}
/*Buttons in the Index Page Under "For more ..."*/
.btn

/*Community*/

.iframe-size{
	width: 320px; 
	height: 150px;
}

/*Gallery*/
.photo-row { 
	position: relative;
}

.photo-row img { 
    width: 350px;  
    height: auto;
    border-radius: 10px; /* rounded corners */
	z-index: 200;
}

.photo-row:hover{
	scale: 1.5;
    transition: transform 0.05s ease;
}

/*Events*/

table, th, td {
    border: 1px solid black; /* Sets a 1px solid black border for the table and all its cells */
	border-collapse: collapse; /* Collapses adjacent cell borders into a single border */
	border-radius: 5px; /* Rounded corners */
	border-bottom: 1px solid gray; /* Only a bottom border for table data cells */
	background-color: #fbfbfb;
	opacity: 80%;
	text-align: center;
	font-size: 16px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

/*Contact Us*/

.form-position {
	position: relative;
	z-index: 100;
}

.form-style {
	max-width: 350px;
    margin: auto; /* Center the form */
    padding: 30px;
    background-color: #536018;
    border-radius: 19px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}
